# ignore .txt files
*.txt
*.json
*.yaml
*.yml

# ignore IDE settings
.vscode
.build

# ignore library directory
lib
ruleguard

# ignore raw (or experimental) data
with_inspector.go

# manuals
*.md

# archives
*.zip
*.tar
*.gz
*.gzip

# exclude
!README.*